.container {
  background: blue;
  width: 100%;
  height: 400px;
}

/* Estilos antes de trabalhar o position: */
.div_01_inicial {
  padding: 10px;
  width: 20%;
  height: 100px;
  display: inline-block;
  background: red;
}

.div_02_inicial {
  padding: 10px;
  width: 20%;
  height: 100px;
  display: inline-block;
  background: yellow;
}

.div_03_inicial {
  padding: 10px;
  width: 20%;
  height: 100px;
  display: inline-block;
  background: green;
}

/* Estilos após trabalhar o position: */
.div_01 {
  padding: 10px;
  width: 20%;
  height: 100px;
  display: inline-block;
  background: red;
  position: static;
  left: 40px;
  top: 40px;
}

.div_02 {
  padding: 10px;
  width: 20%;
  height: 100px;
  display: inline-block;
  background: yellow;
}

.div_03 {
  padding: 10px;
  width: 20%;
  height: 100px;
  display: inline-block;
  background: green;
}
